@model OnlyFarms.Models.Field

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div style="float:left; width:500px">
        <h4>Field</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Tag
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Tag)
            </dd>
            <dt class="col-sm-4">
                City
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-4">
                Street
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class="col-sm-4">
                Field Surface In Hectar
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FieldSurface)
            </dd>
            <dt class="col-sm-4">
                Cultivations
            </dt>
            <dd class="col-sm-8">
                @foreach (Cultivation item in ViewBag.cultivations)
                {
                    @item.Crop.CropName<br />
                }
            </dd>
        </dl>
    </div>
    @if (ViewBag.weather != null)
    {

        <div style="float:left">
            <div class="tile2" style="background-color:white">
                <div class="overlay">
                    <i class="icon-cloud-sun" style="font-size: 70px;"></i>
                    @ViewBag.weather.Date
                    <dl class="row">
                        <dt class="col-sm-2">
                            <i class="icon-thermometer" style="font-size: 30px;"></i>
                        </dt>
                        <dd class="col-sm-10" style="text-align:left">

                            @if (ViewBag.weather.Temperature != 2000000) {
                                @ViewBag.weather.Temperature @:°C
                            }
                            else {
                                <a class="icon-plus" style="font-size: 15px;" onclick="location.href = '/Fields/PressTemperature/@Model.ID';">Add thermometer</a>
                            }
                        </dd>
                        <dt class="col-sm-2">
                            <i class="icon-water" style="font-size: 30px;"></i>
                        </dt>
                        <dd class="col-sm-10" style="text-align:left">

                            @if (ViewBag.weather.Moisture != 2000000) {
                                @ViewBag.weather.Moisture @:%
                            }
                            else {
                                <a class="icon-plus" style="font-size: 15px;" onclick="location.href = '/Fields/PressMoisture/@Model.ID';">Add moisturemeter</a>
                            }
                        </dd>
                        <dt class="col-sm-2">
                            <i class="icon-gauge" style="font-size: 30px;"></i>
                        </dt>
                        <dd class="col-sm-10" style="text-align:left">

                            @if (ViewBag.weather.AirPressure != 2000000) {
                                @ViewBag.weather.AirPressure @:hPa
                                        }
                            else {
                                <a class="icon-plus" style="font-size: 15px;" onclick="location.href = '/Fields/PressAirPressure/@Model.ID';">Add barometer</a>
                            }
                        </dd>
                        <dt class="col-sm-2">
                            <i class="icon-drizzle" style="font-size: 30px;"></i>
                        </dt>
                        <dd class="col-sm-10" style="text-align:left">

                            @if (ViewBag.weather.RainfallAmount != 2000000) {
                                @ViewBag.weather.RainfallAmount @:mm
                                        }
                            else {
                                <a class="icon-plus" style="font-size: 15px;" onclick="location.href = '/Fields/PressRain/@Model.ID';">Add rain gauge</a>
                            }
                        </dd>
                        <dt class="col-sm-2">
                            <i class="icon-direction" style="font-size: 30px;"></i>
                        </dt>
                        <dd class="col-sm-10" style="text-align:left">

                            @if (ViewBag.weather.WindDirection != "unknown") {
                                @ViewBag.weather.WindDirection
                            }
                            else {
                                <a class="icon-plus" style="font-size: 15px;" onclick="location.href = '/Fields/PressDirection/@Model.ID';">Add direction anemometer</a>
                            }
                        </dd>
                        <dt class="col-sm-2">
                            <i class="icon-cloud-wind" style="font-size: 30px;"></i>
                        </dt>
                        <dd class="col-sm-10" style="text-align:left">
                            @if (ViewBag.weather.WindSpeed != 2000000) {
                                @ViewBag.weather.WindSpeed @:km/ h
                            }
                            else {
                                <a class="icon-plus" style="font-size: 15px;" onclick="location.href = '/Fields/PressSpeed/@Model.ID';">Add speed anemometer</a>
                            }
                        </dd>
                        <dd class="col-sm-10" style="text-align:left">
                            <i class="icon-spin4" style="font-size: 30px; float:right" onclick="location.href = '/Fields/UpdateWeather/@Model.ID';">Refresh</i>  
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="float:left">
            <div class="tile1" style="background-color:white">
                <div class="overlay1">
                    <i class="icon-cloud-sun" style="font-size: 70px;"></i>
                    <a class="link" onclick="location.href = '/Fields/UpdateWeather/@Model.ID';">
                        <h1 style="color: lightgoldenrodyellow">Pobierz</h1>
                    </a>
                </div>
            </div>
        </div>
    }
    <div style="clear:both"></div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

